<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form| %>
  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: "steve@apple.com", autocomplete: "username" %>
  </div>
  <%= form.submit "Reset password", class: "btn btn-primary"%>
<% end %>